/* h1 {
    text-decoration: underline;
    color: blue;
    text-align: center;
    background-color: aquamarine;
    border-bottom: 1px dotted black;
    
}

h1:hover {
    background-color: rgb(243, 240, 245);

}
 */

 .hovertext {
    text-align:center;
    color: blue;
    text-decoration: underline;

  }

  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: end;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    text-align: center;
    z-index: 1;
    left: 0;
    top: 110%;
  }

  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

  .hiddenimg {
    margin: 35%;
    visibility: hidden;
  }
 
.hovertext.hiddenimg {
    content: attr(data-image);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    transition: opacity 1s ease-in-out;

    z-index: 1;
    left: 3;
    top: 110%;
  }

  .hiddenimg:hover:before {
    opacity: 1;
    visibility: visible;
  }

  
